<%= form_for :session, url: session_path do |form| %>
  <div class="text-field">
    <%= form.text_field :email, type: 'email', placeholder: 'E-Mail-Adresse' %>
  </div>

  <div class="password-field">
    <%= form.password_field :password, placeholder: 'Password'%>
  </div>

  <div id="flash">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
  </div>

  <div class="submit-field">
    <%= form.submit %>
  </div>

<% end %>
